@import url('https://fonts.googleapis.com/css2? family = Rampart + One & display = swap'); 
@import url('https://fonts.googleapis.com/css2? family = Rampart + One & display = swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    border-color: rgb(19, 18, 18) ;
    color: black;

}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

.header{
    height: 150vh;
    background-image: linear-gradient(to top, rgba(88, 83, 87, 0.486) 0%, hsla(210, 2%, 22%, 0.514) 100%), url(img/diseñoux.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
}

.head{
    padding: 0;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: #fff;
}
.contenedorhead{
    display: flex
    flex-direction: table-column;
    

}
h1{
    margin-bottom: 100px;
    font-family: 'Rampart One', cursiva;
}
p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}
.header i img{
display: inline;
width: 300px;
justify-content: flex-start;
border-radius: 10px;
}
.hamburguer{
    position: fixed;
    top: 40px;
    right: 30px;
    background: #fff;
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    width: 30vw;
    height: 100%;
    /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c0ee 100%); */
    /* 02 */
    background-image: linear-gradient(to top, #eb90dc 0%, #fbc2eb 100%);
    /* 028 */
    background-image: linear-gradient(135deg, #66eaea 0%, #7b64b1 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    right: 0;
    transform: translateX(110%);
    transition:transform 0.3s ease-in-out;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}
#experiencia{
    display: flex;

}

#experiencia h3{
    font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
    
}
#experiencia .service{
    width: 30%;
    height: auto;
    display: inline-block;
    margin: 10px;
    border-style: solid violet 2 px;
    padding-left: 10px;
}

.spread{
    transform: translateX(0);
}

.menu-navegacion a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}


.titulo{
    font-size: 60px;
    text-shadow: 10px 10 px gray;
    margin-bottom: 15px;
    padding-top: 30px;
}

.copy{
    font-weight: 300;
    font-size: 30px;
    padding-top: 30px;
}
.copy::before{
    content: url(./img/check-lg.svg);
    margin-right: 10px;
    
}
/* Services */

.subtitulo{
    color: #636168;
    font-size: 40px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
}
#sobremi{
    background-color: cornsilk;
}
.contenedor-sobremi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;

   
}

.contenedor-sobremi img{
    width: 20%;
    float: left;
    border: 10px rgb(3, 3, 3);
    box-shadow: 2em 2em 1em rgb(233, 185, 226);
}
.contenedor-sobremi p{
    float: right;
    width: 90%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

/*.checklist-servicio{
    width: 45%;*/
}

.service{
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: solid blueviolet 2px;
    margin-top: 20px;
}

.n-service{
    margin-top: 10px;
    margin-bottom: 5px;
    color: #4f4d53;
}

.number{
    display: inline-block;
    /* 02 */
    background-image: linear-gradient(to top, #433c53 0%, #fbc2eb 100%);
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    color: #fff;
    font-weight: 700;
}

.gallery{
    background: #f6e1fc;
    opacity: 98%;
}

.contenedor-galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}

.img-galeria{
    width: 10%;
    display: flex;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
    cursor: pointer;
}

.imagen-light{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.534);
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.agregar-imagen{
    width: 60%;
    transform: scale(0);
    border-radius: 10px;
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.show{
    transform: translate(0);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.experts{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.cont-expert{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.cont-expert img{
    display: block;
    margin: auto;
    width: 80%;
}

.n-expert{
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    font-weight: 400;
}

footer{
    background: #58565c;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}


.contact-us{
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

.social-media-icon:hover{
    background: #fff;
    color:#4a484b;
}
.boton{
    margin-top: 20px;
    width: 240px;
    height: 40px;
    border: 2 px solid white;
    box-shadow: 5px 5px 3px #3b2e5a;
    padding: 5px 20px;
    border-radius: 20px;
    color:white;
    text-decoration: none;
    background-color: black;
    
}

@media screen and (max-width: 800px){
    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }

    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }
    
    .checklist-servicio{
        width: 80%;
    }

    .service{
        margin-bottom: 30px;
    }

    .img-galeria{
        width: 45%;
    }
    
    .agregarImagen{
        width: 80%;
    }

    
    .cont-expert{
        width: 80%;
    }
    
    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
    
}


@media screen and (max-width: 500px){
    .menu-navegacion{
        width: 65vw;
    }

    .hamburguer{
        top: 20px;
        right: 20px;
    }

    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 30px;
    }

    .img-galeria{
        width: 95%;
    }
    
    .agregar-imagen{
        width: 90%;
    }

    .social-media{
        width: 100%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 95%;
        margin-bottom: 40px;
    }
    
}